
services:
  api-cinta-zakat:
    build: .
    container_name: api-cinta-zakat
    ports:
      - "8899:8899"
    volumes:
      - ./src:/app/src
      - ./.env:/app/.env
    env_file:
      - .env
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api-cinta-zakat
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
